page-confirm-password-signup {

.confirm{

    background: white
}
    .heading{ 

        font-size : 25px;
       // margin-top : 145px;
        margin-left: 15px;
       // margin-bottom: 55px;


    }

    .button2{
        font-size: 55px;
        margin-left: 235px;
        margin-top: 200px; 
        background: white  
    }

    .button1{
        font-size: 22px;
        // margin-left: 235px;
        // margin-top: 200px; 
        background: white  
    }



}
