page-diff-signup {

    
        #welcome {
            background: whitesmoke
           h1{
                 font-size : 55px;
                 margin-top : 50px;
                 margin-left: 45px;
                 margin-bottom: 55px;
        
           }
        
        
        .logo {
        height: 120px ;
        margin-top : 20px;
        margin-left: 38px ; 
        margin-bottom : 110px
        }
        
        }
        
        .btn {
            margin-left: 215px ; 
        }
        
        }

