page-welcome {
#welcome {
    background: whitesmoke
   h1{
         font-size : 55px;
         margin-top : 50px;
         margin-left: 45px;
         margin-bottom: 55px;

   }


.logo {
height: 120px ;
margin-top : 66px;
margin-left: 38px ; 
margin-bottom : 10px
}

}

.button {
    margin-left: 15px ; 
}

}
